$light-primary: #1e88e5;
$light-secondary: #424242;

$dark-primary: #1e88e5;
$dark-secondary: #424242;

@if $theme == 'light'{
  $primary: $light-primary;
  $secondary: $light-secondary;
} @else {
  $primary: $dark-primary;
  $secondary: $dark-secondary;
}
