#app{
    background-color:rgb(82, 68, 172);
}
#centerupbar{
    height: 80px ; 
}
#allupbar{
    background-color:darkslateblue;
}
#searchbar{
    margin-top: 10px;
}

#fix{
    position: fixed;
}

#content{
    margin-top: 90px;

}
#searchform{
    margin-left: 40%;
}